.page-content-wrapper {
  margin-right: 15px;
  margin-top: 15px;
}

.welcome-area {
  background: #fff;
  border: 1px solid #ccc;
  padding: 180px 220px;
  text-align: center;
}

.header-content h2 {
  font-size: 50px;
  font-weight: 900;
  color: #000;
}

.header-content p {
  font-size: 15px;
  font-style: italic;
  color: #584949;
}

.btn-group a {
  text-decoration: none;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin: 10px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  border-radius: 2px;
  color: #820767;
}
